.row
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-dark#user-table.rounded
        %tr
          %th.count= fa_icon 'chart-bar'
          %th Hiker
          %th.distance= fa_icon 'map-marker'
          %td.progress-status Goal


        = render partial: 'users/user', collection: @users
