#about
  .text-center= image_tag 'hike.png', width: '450px', class: 'main-logo img-fluid'

  .row
    .col-md-2
    .col-md-8

      %p 
        A Scout pledges to keep themself physically strong, and mentally awake, so let's hike! And we'll make it more fun by doing it at night.

        .emphasis The goal is to hike a total of 10 miles in February.

        Go out between the hours of 5-11pm, take a flashlight, and walk with a sibling or parent. Once you return, log it here so you can track your progress.
