// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


nav.navbar {
  margin-bottom: 2rem;
}

body {
  background-color: #454d55;
  color: #ffffff;
}

a {
  color: #efefef !important;
  &:hover {
    color: #aaaaaa !important;
    text-decoration: none;
  }
}

.btn-group {
  display: inline-block;
}

#masthead {
  .main-logo {
    margin: 1rem auto 1.5rem auto;
  }
}

#primary-nav {
  .nav-link {
  border: 1px solid #999 !important;
  padding: 0.7rem 3.5rem;
  &.active {
    background-color: rgb(52,58,64);
  }
}
}

#actions {
  text-align: center;
  margin-top: 2rem;
}

#countdown {
  margin: 1em auto;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 900;
}

#home {
  #table-nav {
    font-size: 1.3rem;
  }
  letter-spacing: 0.04em;
}

#user-table {
  font-size: 1.4rem;
  font-weight: 400;
  th {
    padding: 1em 1.5em;
    border: none;
  }
  th, td {
    &.distance {
      width: 10rem;
      padding-right: 0.5em;
      text-align: right;
    }
    &.progress-status {
      width: 7rem;
      padding: 0 0.5em;
      vertical-align: middle;
    }
  }
  td {
    padding: 1em 1.5em;
    border: none;

  }
  tr.you {
    font-weight: 900 !important;
  }
  .count {
    width: 6rem;
    border-right: 3px solid #bbb;
    text-align: center;
    vertical-align: middle;
  }
  .screenname {
    vertical-align: middle;
    display: inline-block;

    font-size: 1.1em;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  .troop {
    font-size: 0.7em;
    font-weight: 100;
    vertical-align: bottom;
    display: inline-block;
  }
  .miles {
    text-align: right;
    font-size: 1.5em;
    font-weight: 900;
  }
  .legend {
    display: inline-block;
    margin-right: 0;
    font-size: 0.7em;
    font-weight: 100;
  }
}



#treks {
  #treks-table {
    margin-top: 4rem;
    margin-bottom: 3rem;
    .miles {
      font-weight: 900;
    }
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  .legend {
    font-size: 0.7em;
    font-weight: 100;
    display: inline-block;
    margin-left: 0.3em;
  }
  .total-miles {
    font-weight: 900;
    font-size: 2rem;
  }
}

h1 {
  margin-bottom: 2em;
}


nav.navbar {
  a {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    &:hover {
      color: rgba(255,255,255,0.75);
    }
  }
  .screenname {
    font-weight: 900;
  }
}

footer {
  margin-top: 3rem;
  font-size: 0.95rem;
  font-weight: 300;
  color: #999999;
  a {
    display: inline-block;
    margin-right: 2rem;
    margin-left: 2rem;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
}

#about {
  line-height: 2.23;
  font-size: 1.3rem;
  padding: 3em;
  line-height: 2.5;
  background-color: rgb(52,58,64);
  .emphasis {
    display: inline-block;
    background-color: #CE1126;
    padding: 0.3em 1em;
    margin-left: 1.5em;
    margin-right: 1.3em;
    color: #fff;
  }
  letter-spacing: 0.04em;
}

#error_explanation {
  padding: 1em 1.5em 0.5em 1.5em;
  background-color: #ddd;
  margin: 1em 0;
  color: #f00;
  .message {
    font-size: 1.2em;
  }
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
