// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


nav.navbar {
  margin-bottom: 2rem;
}

#home {
  .main-logo {
    margin: 2rem auto 3rem auto;
  }

  h2 {
    text-align: center;
    font-size: 2.7rem;
    letter-spacing: 0.1rem;
    border-top: 2px solid #ccc;
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-weight: 900;
    color: #999;
  }
  .action {
    text-align: center;
    margin-top: 2rem;
  }

  table.table#rank-table {
    th,td {
      padding: 1em 1.5em;
      border: none;
      font-size: 1.3rem;
    }
    width: 100%;
    tr.you {
      font-weight: 900 !important;
    }
    .count {
      width: 6rem;
      border-right: 3px solid #bbb;
      text-align: center;
      vertical-align: middle;
    }
    .screenname {
      vertical-align: bottom;
      font-size: 1.5em;
      display: inline-block;
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: 1;
      padding: 0;
    }
    .troop {
      font-size: 0.7em;
      font-weight: 100;
      vertical-align: bottom;
      display: inline-block;
    }
    .miles {
      text-align: right;
      font-size: 1.5em;
      font-weight: 900;
    }
    .legend {
      display: inline-block;
      margin-right: 0;
      font-size: 0.7em;
      font-weight: 100;
    }
  }
}

#treks {
  #treks-table {
    margin-top: 4rem;
    margin-bottom: 3rem;
    .miles {
      font-weight: 900;
    }
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  .legend {
    font-size: 0.7em;
    font-weight: 100;
    display: inline-block;
    margin-left: 0.3em;
  }
  .total-miles {
    font-weight: 900;
    font-size: 2rem;
  }
}

h1 {
  margin-bottom: 2em;
}


nav.navbar {
  a {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    &:hover {
      color: rgba(255,255,255,0.75);
    }
  }
  .screenname {
    font-weight: 900;
  }
}

footer {
  margin-top: 3rem;
  font-size: 0.95rem;
  font-weight: 300;
  color: #999999;
  a {
    display: inline-block;
    margin-right: 2rem;
    margin-left: 2rem;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
}

#about {
  line-height: 2.23;
  margin-top: 5rem;
  .main-logo {
    margin-bottom: 4rem;
  }
  font-size: 1.3rem;

  .emphasis {
    display: inline-block;
    background-color: #CE1126;
    padding: 0.3em 1em;
    margin-left: 1.5em;
    margin-right: 1.3em;
    color: #fff;
  }
  letter-spacing: 0.04em;

}
