- if Unit.first.start_date
  .row
    .col-md-12
      #countdown
        - if Unit.first.start_date > Date.today
          Challenge starts in
          = distance_of_time_in_words(Date.today, Unit.first.start_date)
        - else
          Challenge ends in
          = distance_of_time_in_words(Unit.first.start_date, Unit.first.end_date)
        \/
        Goal:
        = Unit.first.miles_goal
        miles

