#masthead
  .d-none.d-lg-block.text-center= image_tag 'hike-v3.png', width: '400px', class: 'main-logo img-fluid'
  .d-block.d-lg-none.text-center= image_tag 'hike-v3.png', width: '125px', class: 'main-logo-small img-fluid'
  = render 'take_action'
  = render 'countdown'
